@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

*,
::after,
::before {
  letter-spacing: 0.05rem;
}

body {
  background-color: #bb9696;
  font-family: "Outfit", sans-serif;
}

.search {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

#idInput {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  background-color: #e198f3;
  box-shadow: 0 2px 5px 0 rgb(0.5, 0.5, 0.5, 0.2);
}

#idInput::placeholder {
  color: black;
}

.search-button button {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  background-color: #c94e81;
  box-shadow: 0 2px 5px 0 rgb(0.5, 0.5, 0.5, 0.2);
  cursor: pointer;
  color: white;
}

.card_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.Card {
  --padding: 1rem;
  background-color: #b674ad;
  border-radius: 0.25rem;
  overflow: hidden;
  width: 25%;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);
}

.card_header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  text-align: center;
}

.card_header.card_image {
  padding: 0;
}

.card_header.card_image > img {
  width: 90%;
  height: calc(100% - 4px);
  z-index: 999;
  transition: 200ms transform ease-in-out;
}

.card_image > img {
  border-radius: 5px;
}

.Card:hover .card_header.card_image > img {
  transform: scale(1.025);
}

.card_body {
  font-size: 0.9rem;
  padding: var(--padding);
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.loader {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 40px;
  color: rgb(173, 80, 111);
  position: absolute;
  text-align: center;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.25em;
  }
}

::placeholder {
  color: white;
  opacity: 0.5;
}
