@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

*,
::after,
::before {

  letter-spacing: 0.05rem;
}

body {
  background-color: #f7cac9;
  font-family: "Outfit", sans-serif;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.Card {
  --padding: 1rem;
  background-color: #efc050;
  border-radius: 0.25rem;
  overflow: hidden;
  border: none;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);
}

.card_header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  text-align: center;
}

.card_header.card_image {
  padding: 0;
}

.card_header.card_image > img {
  display: block;
  width: 100%;
  height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.Card:hover .card_header.card_image > img {
  transform: scale(1.025);
}

.card_body {
  font-size: 0.9rem;
  padding: var(--padding);
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.loading-hide {
  visibility: hidden;
}

.loader {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 40px;
  color: palevioletred;
  position: absolute;
  text-align: center;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /** X-axis align **/
}

.loader::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.25em;
  }
}

